*{}
html {
	overflow-y: scroll;
}
#todo-form {
	margin-top: 20px;
}
.done {
	text-decoration: line-through;
}

#spin {
	position: absolute;
	margin: auto;
	top: 50%;
	/*transform: translateY(-50%);*/
	left: 0;
	right: 0;
	bottom: 0;
}

#listtodo {
	/*margin: 20px;*/
}